*{
	font-family: sans-serif;
}
body{
	marign:0;
	padding:0;
	background: url(../img/bgImg_1.png) no-repeat center center fixed;
	background-size: cover;
}
nav{
	width: 100%;
	height: 80px;
}
nav ul{
	list-style: none;
	position: sticky;

}
nav ul li{
	display: inline-block;
	padding-right: 35px;

}
nav ul li a{
	text-decoration: none;
	line-height: 3;
	color: rgb(150,148,147);
	font-size: 18px;
}
.left{
	width: 78%;
	height: inherit;
	float: left;
}
.right{
	width: 22%;
	height: inherit;
	float: right;
}
#logo{
	width: 150px;
	height: 23px;
	background: url(../img/logo.png) no-repeat center center;
	background-size: cover;
}
#right1{
	color: rgb(34,173,188);
	outline: 2px solid rgb(34,173,188);
	padding: 5px 20px;
	font-size: 16px;
}
#right2{
	color: rgb(255,255,255);
	outline: 3px solid rgb(34,173,188);
	padding: 5px 13px;
	background-color: rgb(34,173,188);
	font-size: 16px;
}
.wrapper{
	width: 1000px;
	height: 420px;
	margin: 70px auto;
}
h1{
	font-size: 50px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	line-height: 0.5em;
}
#f1{
	color: rgb(255,206,0);
}
#f2{
	color: rgb(28,30,60);
}
.search_box{
	width: 600px;
	height: 40px;
	margin: 70px auto;
	background-color: #fff;
	display: flex;
}
.box{
	width: 70%;
	height: 100%;
	background-color: #fff;
	display: flex;
	line-height: 2.8;
	color: rgb(150,148,147);
	font-size: 12px;
	margin-left: 20px;
}
#box1{
	width: 60%;
	padding-left: 10px;
	border: 1px solid rgb(238,238,238);
	border-right: 1px dashed rgb(238,238,238);
}
#box2{
	width: 20%;
	padding-left: 10px;
	border: 1px solid rgb(238,238,238);
	border-left: none;
	border-right: none;
}
#box3{
	width: 20%;
	padding-left: 10px;
	border: 1px solid rgb(238,238,238);
	border-left: 1px dashed rgb(238,238,238);
}
.search{
	width: 18%;
	height: 100%;
	background-color: rgb(34,173,188);
	color: #fff;
	text-align: center;
	line-height: 2.2;
	margin-left: 30px;
	border: 1px solid rgb(34,173,188);
	font-weight: 500;
}
